body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

div {
  display: block;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  top: 0px;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

nav span a {
  color: seashell;
}

.main {
  padding-top: 61px;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url("resources/img-mission-background.jpg");
  height: 700px;
  padding-top: 69px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;

}

#store {
  padding-top: 70px;
  width: 1000px;
  height: 700px;
  margin: auto;
}

.item img {
  height: 200px;
  width: 300px;
  display: block;
  padding: 10px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url("resources/img-locations-background.jpg");
  height: 500px;
  margin: auto;
  padding-top: 70px;
}

#locations .flex-container {
  width: 1100px;
  margin: auto;
}

.location {
  background-color: black;
  width: 300px;
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
